{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">계정삭제</h5>

    <form method="post"  class="delete" action="{{ url_for('auth.delete') }}">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        {% for user in user_list %}
        {{user.username}}

        {% endfor %}
        {{g.user}}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}">
            <!--GET 방식으로 요청되는 경우 기존 입력값이 없으므로 (None으로 출력) 이를 방지하기 위해서" 사용했다. -->
        </div>
<!--------------------------------------------------------------->
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>
        <button type="submit">삭제하기</button>
    </form>
</div>

{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
             submit();
        };
    });
});
</script>
{% endblock %}